h1{
    text-align: center;
}

form{
    text-align: center;
}

.bar{
    height : 200px;
    width : 50%;
    border : 5px solid black;
    border-radius: 2px;
    border-color: blanchedalmond;
    display : inline-block;
    box-sizing: border-box;
    color: white;
    transition: 1s;
    text-align: center;
    line-height: 200px;
}

.bar1{
    background-color: rgb(255, 0, 0);
}

.bar2{
    background-color: rgb(0, 0, 255);
}

#visual_result{
    margin-top: 15px;
}